body{
    margin: 10px;
}

header {
    background-color: #f9f9f9;
    padding: 20px 0;
    text-align: center;
}
ul {
    list-style: none;
}li {
    display: inline-block;
    margin-right: 20px;
}

footer{
    background-color: black;
    color: white;
    height: 60px;
    padding: 40px;
}

button{
    background-color: black;
    color: white;
    border-radius: 10px;
}

article {
    background-color: #ffffff;
    padding: 20px;
}
h1, h4 {
    font-family: Arial, sans-serif;
}
h1 {
    font-size: 24px;
}
h4 {
    font-size: 18px;
}

img{
    border-radius: 20px;
}

a {
    color: currentColor;
    text-decoration: none;
}

div{
    margin: 0px 13vh;
}

section{
    display: flex;
    justify-content: center;
}.cancelarCenter{
    display: block;
}.Centralizar{
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputFaleComNosco{
    height: 200px;
    width: 100%;
}

.buttonPagar{
    width: 90vh;
    height: 40px;
}

.logo-img {
    max-width: 150px;
}

.banner-img{
    width: auto;
    height: 100vh;
}

.horizontal-list {
    list-style: none; 
    display: flex;
    gap: 10px;
}.horizontal-list li {
    padding: 0px; 
    background-color: #f9f9f9; 
}

.box{
    border: 1px solid #f9f9f9;
    border-radius: 20px;
    background-color: #f9f9f9;
}.box article{
    background-color: #f9f9f9;
}

#center{
    display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
}  
