body{
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #f9f9f9;
}

header {
    background-color: #f9f9f9;
    padding: 20px 0;
    text-align: center;
    width: 100%;
}
ul {
    list-style: none;
}li {
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 20px;
}

footer{
    background-color: black;
    color: white;
    height: 60px;
    padding: 40px;
}

button{
    background-color: black;
    color: white;
    border-radius: 9px;
}

article {
    background-color: #ffffff;
    padding: 20px;
}

img{
    border-radius: 20px;
}

a {
    color: currentColor;
    text-decoration: none;
}

div{
    margin: 0px 13vh;
}

footer{

    bottom: 0;
    width: 100%;
    height: 2.5rem;
}

.sobreNos{
    padding: 15px;
    background-color: #f9f9f9;
    margin: 30px;
    border: solid 3px black;
    width: 95%;
}

.produto{
    padding: 15px;
    width: 200px;
    background-color: #f9f9f9;
    border: solid 3px #f9f9f9;
    margin: 5px;
}.produto img{
    height: auto;
    width: 200px;
}

.logo-img {
    max-width: 150px;
}

.servicos{
    margin: 5px;
}

.slider-container {
    width: 100%;
    overflow: hidden;
    display: flex;
    
}
.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
}
.slide {
    flex: 0 0 100%;
    margin-left: 0%;
}

.slide img {
    width: 100%;
    height: auto;
}
